manage-package-manager-versions=true
save-workspace-protocol=rolling
save-prefix=^
link-workspace-packages=false
disallow-workspace-cycles=true
enable-pre-post-scripts=true
engine-strict=true
publish-branch=main
